In [2]:
import numpy as np
import pandas as pd

# Country Probabilities

In [3]:
df = pd.read_csv('/Users/davidwrench/Downloads/imf_gdp_prepared.csv')

df_sort = df.sort_values('gdp_2017', ascending=False)

country_sort = df_sort['country_name']

pareto_shape = 1.

prob = np.random.pareto(pareto_shape, len(country_sort))

prob /= np.sum(prob)

prob_sort_flip = np.flip(np.sort(prob), axis=0)

country_proba = []
for proba, country in zip(prob_sort_flip, country_sort):
    country_proba.append({
        'country_name': country,
        'proba': proba,
    })

country_proba = pd.DataFrame(country_proba)
country_proba.sort_values('proba', ascending=False).head()

     country_name     proba
0   United States  0.224112
1           Japan  0.107374
2         Germany  0.082313
3  United Kingdom  0.075493
4           India  0.050852

In [4]:
country_proba.to_csv('/Users/davidwrench/Downloads/country_proba.csv')

# Country Probabilities

In [5]:
df = pd.read_csv('/Users/davidwrench/Downloads/operators_stacked_prepared.csv', usecols=["country_name", "operator_name", "operator_type"])

df.head()

  country_name              operator_name operator_type
0  Afghanistan  Afghan Telecom Corp. (AT)        Mobile
1      Albania               Eagle Mobile        Mobile
2       Angola                    MoviCel        Mobile
3      Armenia           Karabakh Telecom        Mobile
4    Australia      Department of Defense        Mobile

In [6]:
df.shape

(1553, 3)

In [7]:
df.drop_duplicates(inplace=True)
df.shape

(1086, 3)

In [9]:
pareto_shape = 1.
country_unique = df["country_name"].drop_duplicates()
country_unique.head()

0    Afghanistan
1        Albania
2         Angola
3        Armenia
4      Australia
Name: country_name, dtype: object

In [11]:
df["probs"] = 0
for country in country_unique:
    country_name = df[df["country_name"] == country]
    
    prob = np.random.pareto(pareto_shape, country_name.shape[0])
    prob /= np.sum(prob)
    prob_sort_flip = np.flip(np.sort(prob), axis=0)
    
    df["probs"][df["country_name"] == country] = prob_sort_flip

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
df["probs"][df["country_name"] == "Japan"].sum()

0.9999999999999999

In [16]:
df.to_csv('/Users/davidwrench/Downloads/operator_proba.csv')

In [18]:
x = pd.read_csv('/Users/davidwrench/Downloads/operator_proba.csv')
x.head()

   Unnamed: 0 country_name              operator_name operator_type     probs
0           0  Afghanistan  Afghan Telecom Corp. (AT)        Mobile  0.357468
1           1      Albania               Eagle Mobile        Mobile  0.620089
2           2       Angola                    MoviCel        Mobile  0.904637
3           3      Armenia           Karabakh Telecom        Mobile  0.977464
4           4    Australia      Department of Defense        Mobile  0.460158