In [2]:
import pandas as pd

In [32]:
cdr_data = pd.read_csv("/Users/davidwrench/Galvanize/irsf/src/data/cdr_data.csv", 
                       index_col=["country_name", "operator_name"])

In [33]:
cdr_data.head()

,,prefix,country_gdp,operator_proba,country_proba,bbva_proba
country_name,operator_name,,,,,
Iraq,Ooredoo,964,189.43,1.000000,0.003265,0.005312
Indonesia,STC,62,1020.52,0.190307,0.017587,0.000908
Uzbekistan,Veon,998,68.32,0.685879,0.001177,NaN
Iran,Hamrahe Aval,98,368.49,0.082592,0.006350,0.002469
Croatia,Deutsche Telekom,385,50.08,1.000000,0.000863,NaN

In [36]:
%timeit cdr_data.loc["Iraq", "Ooredoo"]

1000 loops, best of 3: 1.82 ms per loop

In [6]:
type(x)

pandas.core.series.Series

In [31]:
%timeit cdr_data.loc[["Iraq"], ["prefix", "operator_name"]]

1000 loops, best of 3: 1.65 ms per loop

In [8]:
type(x)

pandas.core.frame.DataFrame

In [9]:
x = cdr_data.loc["Iraq"]["prefix"]
x

964

In [10]:
type(x)

numpy.int64

In [23]:
%timeit cdr_data.loc["Iraq"]

10000 loops, best of 3: 161 Âµs per loop

In [24]:
%timeit cdr_no_idx.eval('country_name == "Iraq"')

1000 loops, best of 3: 1.02 ms per loop

In [25]:
cdr_no_idx = cdr_data.reset_index()
cdr_no_idx.head()

,country_name,prefix,country_gdp,operator_name,operator_proba,country_proba,bbva_proba
0,Iraq,964,189.43,Ooredoo,1.000000,0.003265,0.005312
1,Indonesia,62,1020.52,STC,0.190307,0.017587,0.000908
2,Uzbekistan,998,68.32,Veon,0.685879,0.001177,NaN
3,Iran,98,368.49,Hamrahe Aval,0.082592,0.006350,0.002469
4,Croatia,385,50.08,Deutsche Telekom,1.000000,0.000863,NaN

In [26]:
%timeit cdr_no_idx.eval('country_name == "Iraq"')

1000 loops, best of 3: 1.03 ms per loop

In [29]:
%timeit cdr_no_idx.query('country_name == "Iraq"')

1000 loops, best of 3: 1.32 ms per loop